<div>
  <div>
    <p>本当に退会しますか？</p>
  </div>
  <div>
    <p>退会すると、会員登録情報や<br>これまでの購入履歴が閲覧できなくなります。<br>退会する場合は「退会する」をクリックしてください。</p>
  </div>
  <div>
    <%= link_to customers_information_edit_path do %>
      <button>退会しない</button>
    <% end %>
    
    <%= link_to customers_withdraw_path, method: :patch do %>
      <button>退会する</button>
    <% end %>
  </div>
</div>