<h1>About</h1>
<h2>長野ケーキへようこそ！</h2>
<p>長野ケーキは全国においしいケーキを届けるお店です。</p>
<p>甘いものが好きな人も好きじゃない人も様々な人に楽しんでいただけるよう様々な商品をご用意してお待ちしております</p>
<p>全国へお届けできますので、いつでも、どこでもご注文いただけます。</p>
<p>皆様のおいしいをお待ちしております。</p>

<%= image_tag('naganocakemain.jpg', alt: "Naganocake_MAIN",width: "100%", hight: "40%", position: "bottom" ) %>
