<h1>注文履歴詳細#show</h1>

<h5>注文情報</h5>
<table>
  <tr>
      <th>注文日</th>
      <td></td>
      <th>配送先</th>
      <td></td>
      <th>支払方法</th>
      <td></td>
      <th>ステータス</th>
      <td></td>
  </tr>
</table>

<h5>注文内容</h5>
<table>
  <tr>
      <th>商品</th>
      <td></td>
      <th>単価（税込）</th>
      <td></td>
      <th>個数</th>
      <td></td>
      <th>小計</th>
      <td></td>
  </tr>
</table>


<h5>請求情報</h5>
<table>
  <tr>
      <th>商品合計</th>
      <td></td>
      <th>発送料</th>
      <td></td>
      <th>ご請求額</th>
      <td></td>
  </tr>
</table>


