/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*共通*/

header {
  background-color: #f39800;
  display: flex;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

.image-link {
  opacity: 1;
  transition: opacity 0.3s;
}


.image-link:hover {
  opacity: 0.7; /* カーソルを合わせたときの透明度（0.7は例です） */
}

.top-button {
  display: inline-block;
  margin-right: 10px;
  width: 90%;
}
.top-button li {
  list-style: none;
  padding-left:0
}

.button-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.button-list li {
  display: inline-block;
  margin-right: 10px;
}

.button-list li:first-child {
  margin-left: 0;
}

.button-list li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #664100;
  text-decoration: none;
  color: #f39800;
}

.button-list li a:hover {
  opacity: 0.7;
}

.input {
  text-align: right;
}

/*会員登録*/
/*会員ログイン*/

.back-color {
  background-color: #f5f5f5;
}

main {
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.form {
  width: 400px;
  padding: 10px;
}

.form h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.form div {
  margin-bottom: 20px;
}

.form .field label {
  font-weight: bold;
}

.form .field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

.form .field .actions {
  text-align: right;
}

.form .field .actions input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form .field .actions input[type="submit"]:hover {
  background-color: #0056b3;
}

.in-message {
  margin-top: 20px;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #664100;
  text-decoration: none;
  color: #f39800;
}

.button:hover {
  opacity: 0.7;
}

.submit {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 10pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #664100;     /* 背景色     */
  color         : #f39800;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #000066;    /* 枠の指定 */
}
.submit:hover {
  opacity: 0.7;
  box-shadow    : none;        /* カーソル時の影消去 */
  /*color         : #000066;     /* 背景色     */
  /*background    : #ffffff;     /* 文字色     */
}

/*テーブル*/

.info {
  display: flex;
  justify-content: center;
}

.my {
  width: 100%;
}

.page {
  margin-left: 25%;

}

.table {
  display: flex;
  justify-content: center;
}

.tr {
  max-width: 600px;
}

.head {
  background-color: #f2f2f2;
  padding: 10px;
  text-align: left;
}

.data {
  padding: 10px;
}