/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-1 {
  background-color: #f39800;
  display: flex;
}

.image-link {
  opacity: 1;
  transition: opacity 0.3s;
}

.image-link:hover {
  opacity: 0.7; /* カーソルを合わせたときの透明度（0.7は例です） */
}

.top-button {
  display: inline-block;
  margin-right: 10px;
  width: 90%;
}
.top-button li {
  list-style: none;
  padding-left:0
}

.button-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: right;
}

.button-list li {
  display: inline-block;
  margin-right: 10px;
}

.button-list li:first-child {
  margin-left: 0;
}

.button-list li a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #664100;
  text-decoration: none;
  color: #f39800;
}

.button-list li a:hover {
  opacity: 0.7;
}

.input {
  text-align: right;
}

.in-message {
  margin-top: 20px;
}

.background {

}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #664100;
  text-decoration: none;
  color: #f39800;
}

.button:hover {
  opacity: 0.7;
}